{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <!-- Link to JavaScript File -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock head %}


{% block bodyAttr %} onload="typing();" {% endblock %}
{% block content %}

	<!-- Page Title -->
	<div class="title">
    	<h1 id="typewriter"></h1>
		<h2>Neural Nets for Games</h2>
	</div>

	</br></br></br></br>

	<!-- Upload File -->
	<form enctype="multipart/form-data" method="post" action="http://localhost:5000/result">
		<center>

			<form>

				<!-- File Upload Button -->
				<p><button id="filebutton">Browse</button></p>
				<p><input  id="fileupload" name="file" type="file" accept="image/*"/></p>

				<!-- Submit Button -->
				<input id="submitbutton" value="Submit" type="submit" />

			</form>

			<!-- Display Name of File Chosen -->
			<script>browse_button()</script>

		</center>
	</form>

{% endblock content %}
